body{
    text-align: center;
}
#app{
    width: 100%;
    height: 800px;
    background-color: cyan;
}
a{
    text-decoration: none;
}
.container{
    text-align: center;
}
#myCarousel{
    background-color: cornsilk;
}
#myCarousel img{
 height: 300px;
 margin-top: 35px;
}
.carousel-inner p{
    margin-bottom: 15px;
    margin-top: 15px;
    color: white;
    font-size: 20px;
}